.alarm-page-item-icons {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  text-align: right;
}

.alarm-page-item-remove {
  height: 0;
  border: 0;
  padding: 0;
}

.alarm-page-item-remove > * {
  display: none;
}

.alarm-page-item:hover {
  background-color: #434347;
}

.alarm-page-item-time {
  padding: 10px;
  color: #df574c;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: monospace;
}

.alarm-page-item-name {
  color: #fff;
  width: 200px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.alarm-page-item-icons > span {
  cursor: pointer;
}

.alarm-page-item-remove-icon {
  margin: 0 15px;
  margin-right: 0;
  display: inline-block;
  vertical-align: middle;
  transition: 300ms ease all;
}

.alarm-page-item-remove-icon:hover {
  background-color: #df574c !important;
}

.alarm-page-item-date {
  color: #fff;
  margin: 10px auto;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.alarm-page-item-date > span {
  margin: 1px;
  color: #b5b5b5;
  font-size: 12px;
  padding: 15px 18px;
  display: inline-block;
  font-family: monospace;
  background-color: #555;
}

.alarm-page-item-new::before, 
.alarm-page-item-edit::before {
  right: 1px;
  content: '';
  width: 90px;
  bottom: 1px;
  height: 24px;
  font-size: 11px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  background: #df574c;
  text-transform: uppercase;
  font-family: arial, sans-serif;
  animation: fade-in-horizontal 400ms ease;
}

.alarm-page-item-new::before {content: 'new'}
.alarm-page-item-edit::before {content: 'updated'}

.alarm-page-item-disabled > .alarm-page-item-icons {
  pointer-events: visible;
}

.alarm-page-item-disabled,
.alarm-page-item-disabled > .alarm-page-item-time,
.alarm-page-item-disabled > .alarm-page-item-name {
  color: #5a5a5a;
}

.alarm-page-item-disabled > .alarm-page-item-date > span {
  color: #5a5a5a !important;
  background-color: #a9a9a9 !important;
}

.alarm-page-edit-repeat {
  left: 15px;
  bottom: 60px;
  position: fixed;
  padding-right: 15px;
  background-color: #333;
}

.alarm-page-edit-date-wrapper {
  padding: 0 0 15px 0;
}

.alarm-page-edit-dates {
  margin-left: auto;
  margin-right: 15px;
}

.alarm-page-edit-sound-snooze {
  display: flex;
  padding: 0 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  align-items: center;
}

.alarm-page-edit-sound-snooze input {
  width: 150px;
  height: 42px;
  font-size: 12px;
  max-width: 150px;
  margin-left: auto;
  letter-spacing: 1px;
  border: solid 1px #636363;
  font-family: arial, sans-serif;
}